<div class="badge mt-5 mb-5">
  <a class="navbar-brand text-white" href="#">News</a>
</div>

  <nav class="navbar navbar-dark navbar-expand-md bg-dark justify-content-center">
    <div class="container">
        <a href="/" class="navbar-brand d-flex w-50 me-auto"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar3">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
            <ul class="navbar-nav w-100 justify-content-center">
                <li class="nav-item active">
                  <a class="nav-link" href="/news">Home</a>

                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Work</a>

                </li>
                <li class="nav-item">
          <a class="nav-link" href="/news/new">Add Article</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>

        </li>   <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Content</a>


        </li>

            </ul>
            <ul class="nav navbar-nav ms-auto w-100 justify-content-end">
          <%if(!currentUser){%>

                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/register">Register</a>
                  <% } else{%>

                </li>
                <li class="nav-item">

          <a class="nav-link" href="/logout">LogOut</a>
          </li>
          <% } %>
                
            </ul>
        </div>
    </div>
</nav>